.footer {
   a {
      color: $white;
   }
}

.footer__wrapper {
   display: flex;
   flex-direction: column;
   gap: 40px;
   padding: 40px 0;
}

.footer__logo {
   display: flex;
   gap: 20px;
}

.footer__logo-link {}

.footer__logo-icon {
   width: 29px;
   height: 16px;

   @media screen and (min-width: 421px) {
      width: 49px;
      height: 26px;
   }
}

.footer__logo-text {
   color: $white;
   font-family: Forum;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   letter-spacing: 5px;
   text-transform: uppercase;

   @media screen and (min-width: 421px) {
      font-size: 28px;
   }
}

.footer__nav {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 40px;
}

.footer__nav-item {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   width: 100%;
   text-align: center;

   @media screen and (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
   }
}

.footer__nav-link {}

.footer__sociable {
   display: flex;
   gap: 5px;
}

.footer__sociable-item {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 48px;
   height: 48px;

   border-radius: 50%;
   border-style: solid;
   border-color: #666;
   border-width: 1px;
}