// @media screen and (min-width: 421px) {

// }

// @media screen and (min-width: 769px) {

// }

// @media screen and (min-width: 1025px) {

// }

.bg-dark {
   background-color: $bg-dark;
}



body {
   height: 100vh;
   display: flex;
   flex-direction: column;

   font-family: Roboto;
   color: $white;
   position: relative;

}

.container {
   margin: 0 auto;
   padding: 0 20px;

   @media screen and (min-width: 1025px) {
      max-width: calc(1920px - 220px * 2);
   }
}