body {
   width: auto;
   height: 100vh;
   display: flex;
   flex-direction: column;
   font-family: 'Forum', serif;
}

.container {
   max-width: calc(1920px - 240px * 2);
   margin: 0 auto;

   @media screen and (min-width: 1024px) {
      width: 1024px;
   }
}

.bg-dark {
   background-color: $bg-dark;
}