.tickets-m-w {
   display: none;

   &.tickets-m-w--open {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      overflow: auto;

      background-color: $white;
      color: $dark;
      padding-top: 30px;

      display: flex;
      z-index: 100;
   }

   .container {
      display: flex;
      width: 100%;
      flex-direction: column;

      @media screen and (min-width: 1024px) {
         align-items: center;
         justify-content: center;
      }
   }
}

.tickets-m-w__wrapper {
   display: flex;
   flex-direction: column;
   gap: 40px;
   max-width: 550px;
   width: 100%;
   padding: 0 10px 30px 10px;
   margin-top: 25px;

   margin-left: auto;
   margin-right: auto;



   @media screen and (min-width: 1024px) {
      flex-direction: row;
      max-width: 970px;
      margin-left: 0;
      margin-right: 0;
   }
}

.tickets-m-w__btn-close {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 25px;
   height: 25px;
   cursor: pointer;
   background-color: $white;
   margin-left: auto;
   margin-right: 10px;

   &:hover {
      transform: rotate(90deg);
      transition: all 0.2s;
   }

   span {
      width: 34px;
      height: 1px;
      background-color: $bg-dark;

      &:nth-child(1) {
         transform: translateY(0.5px) rotate(45deg);
      }

      &:nth-child(2) {
         transform: translateY(-0.5px) rotate(-45deg);
      }
   }
}

.tickets-m-w__user-info {
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 40px;
   margin-bottom: 10px;

   @media screen and (min-width: 1024px) {
      justify-content: space-between;
      margin-bottom: 0;
      max-width: 400px;
   }
}

.user-info__title {
   display: flex;
   flex-direction: column;
   border-bottom-color: $dark-red;
   border-bottom-width: 2px;
   border-bottom-style: solid;

   img {
      width: 85px;
   }

   h2 {
      color: $font-gold;
      font-family: Forum, serif;
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;
      margin-bottom: 15px;
      letter-spacing: 0px;
   }

   h4 {
      color: $dark-red;
      font-family: Roboto, serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 10px;
   }


   @media screen and (min-width: 768px) {
      h2 {
         font-size: 50px;
      }
   }
}

.user-info__input {}

.user-info__form {
   display: flex;
   flex-direction: column;
   gap: 20px;
   font-size: 18px;

   input {
      height: 45px;
      border-color: $dark;
      border-width: 1px;
      border-style: solid;

      background-repeat: no-repeat;
      background-position: 15px center;
      padding-left: 45px;
      padding-right: 15px;

      font-size: 18px;

      &::placeholder {
         color: $dark;
      }
   }
}

///////////////////////////////////////////////////////

.user-info__form-data {
   display: flex;
   flex-direction: column;
   gap: 20px;

   @media screen and (min-width: 768px) {
      flex-direction: row;
   }

   input {
      border-color: $dark;
      border-width: 1px;
      border-style: solid;
   }
}

.user-info__date {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   background-image: url('../img/icon/form/date.svg');
   width: 100%;
}

.user-info__time {
   background-image: url('../img/icon/form/time.svg');
   width: 100%;
}

/////////////////////////////////////////////////////////

.user-info__name {
   background-image: url('../img/icon/form/name.svg');
}

.user-info__email {
   background-image: url('../img/icon/form/email.svg');
}

.user-info__phone {
   background-image: url('../img/icon/form/phone.svg');
}

.user-info__ticket-type {
   height: 45px;
   border-color: $dark;
   border-width: 1px;
   border-style: solid;

   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;

   background-image: url('../img/icon/form/ticket_type.svg'), url('../img/icon/form/arrow.svg');
   background-repeat: no-repeat;
   background-position: 15px center, calc(100% - 15px) center;
   padding-left: 45px;
   padding-right: 15px;

   font-size: 18px;
}

.user-info__entry-ticket {
   display: flex;
   flex-direction: column;
   gap: 20px;
   padding: 10px 15px 15px 15px;

   border-color: $dark;
   border-width: 1px;
   border-style: solid;

   input {
      border: none;
   }
}

.entry-ticket__title {
   border-bottom-color: $dark-red;
   border-bottom-width: 2px;
   border-bottom-style: solid;

   h4 {
      color: $font-gold;
      font-family: Forum, serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: capitalize;
      padding-bottom: 5px;
   }
}

.entry-ticket__type-ticket {
   display: flex;
   flex-direction: column;
   gap: 20px;

}

.entry-ticket__wrapper {
   display: flex;
   justify-content: space-between;
   height: 25px;
}

.entry-ticket__text {
   display: flex;
   align-items: center;
   justify-content: center;
}

.entry-ticket__row {
   border-color: $dark;
   border-width: 1px;
   border-style: solid;
   box-sizing: border-box;
   display: flex;
   width: 105px;

   input {
      max-width: 100%;
      height: 100%;
      padding-left: 0;
      padding-right: 0;
   }
}

.entry-ticket__form-btn {
   width: 35px;
   height: 100%;
   background-color: $dark;
   color: $white;
   font-size: 20px;
}

.entry-ticket__value {
   color: $bg-dark;
   font-family: Roboto, serif;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   width: 35px;
   background-color: $white;
   color: $dark;
   text-align: center;
}

.tickets-m-w__purchase-info {
   display: flex;
   flex-direction: column;
   gap: 25px;

   width: 100%;

   border-color: $dark;
   border-style: solid;
   border-width: 1px;

   padding: 25px 15px;

   font-family: Roboto, serif;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}

.purchase-info__title {
   display: flex;
   justify-content: space-between;
}

.purchase-info__title-wrapper {}

.purchase-info__description {
   margin-bottom: 10px;

   h3 {
      font-family: Roboto, serif;
      font-weight: 500;
      font-size: 32px;
      color: $dark;
      text-transform: none;
      letter-spacing: 0;
   }

   h4 {
      color: $dark-red;
      font-family: Roboto, serif;
      font-size: 22px;
      font-weight: 500;
   }
}

.purchase-info__selected {
   display: flex;
   flex-direction: column;
   gap: 5px;
   max-width: 200px;

   input {
      color: $dark;
      font-size: 18px;
      font-weight: 300;

      background-repeat: no-repeat;
      background-position: 0 center;
      padding-left: 30px;

      &::placeholder {
         color: $dark;
      }
   }
}

.purchase-info__date {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   background-image: url('../img/icon/form/date.svg');
}

.purchase-info__time {
   background-image: url('../img/icon/form/time.svg');
}

.purchase-info__type {
   background-image: url('../img/icon/form/check_circle_outline.svg');
}

.purchase-info__img {
   max-width: 150px;
   flex-basis: 39%;
   height: fit-content;

   img {
      max-width: 100%;
      width: 100%;
   }
}

.purchase-info__total-sum {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.total-sum__row {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.total-sum__wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 10px;

   h2 {
      font-family: Roboto, serif;
      font-size: 32px;
   }

   span {
      display: inline-flex;
      align-items: center;
      justify-content: center;
   }
}

.total-sum__number-tickets {
   width: 32px;
   height: 20px;

   background-color: $dark;
   border-radius: 4px;

   color: $ligth-grey;
   font-size: 18px;
}

.total-sum__price-tickets {
   color: $dark;
   font-size: 22px;
}

.total-sum__total-tickets {
   color: $dark;
   font-size: 22px;
}

.total-sum__line {
   background-color: $dark-red;
   height: 2px;
   width: 100%;
   border: none;
}

.total-sum__total-wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 10px;

   h2 {
      font-family: Roboto, serif;
      font-size: 32px;
      letter-spacing: 0px;
      text-transform: none;
      line-height: normal;

   }

   span {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 32px;
      font-weight: 500;
   }
}

.total-sum__total {}

.purchase-info__card {}

.purchase-info__card-form {
   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;

   @media screen and (min-width: 768px) {
      align-items: normal;
   }
}

.card {
   width: 100%;
   max-width: 330px;
   height: 210px;
   background-color: $ligth-grey;
   border-radius: 3px;

   @media screen and (min-width: 768px) {
      max-width: 360px;
   }

   input {
      font-size: 13px;
      padding-left: 10px;
   }
}

.card__front {
   background-color: $ligth-grey;
   margin-bottom: 25px;

   @media screen and (min-width: 768px) {
      margin-bottom: 55px;
      z-index: 2;
   }
}

.card__front-wrapper {
   width: 100%;
   height: 100%;
   position: relative;
   padding: 15px 20px;

   display: flex;
   flex-direction: column;
   justify-content: space-between;

   label {
      margin-bottom: 5px;
      color: $dark;
      font-size: 12px;
   }
}

.card__front-img {
   position: absolute;
   top: 35px;
   right: 20px;
   width: 17%;
   max-width: 53px;

   img {
      width: 100%;
      height: auto;
   }
}

.card__front-row {
   display: flex;
   flex-direction: column;
   width: 74%;

   input {
      height: 35px;
      transition: all 0.2s;

      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
         -webkit-appearance: none;
         margin: 0;
      }

      &:hover,
      :focus {
         filter: drop-shadow(2px 4px 6px $dark);
      }
   }

   &.card__front-row--date {
      flex-direction: row;
      gap: 15px;
      align-items: flex-end;

      select {
         -webkit-appearance: none;
         -moz-appearance: none;
         appearance: none;
         height: 35px;
         width: 100%;
         padding-left: 10px;
         background-image: url(../img/icon/card-arrows.svg);
         background-repeat: no-repeat;
         background-position: 102% center;
         background-size: 31%;
         transition: all 0.2s;

         &:hover,
         :focus {
            filter: drop-shadow(2px 4px 6px $dark);
         }
      }
   }
}

.card__front-mounth-container {
   display: flex;
   flex-direction: row;
   width: 215px;

}

.card__front-cardholder {
   width: 100%;
}

.card__back {
   background-color: $dark-grey;
   margin-bottom: 40px;
   position: static;


   @media screen and (min-width: 768px) {
      position: absolute;
      top: 30px;
      right: 0;
      z-index: 1;
   }
}

.card__back-wrapper {
   width: 100%;
   height: 100%;

   display: flex;
   flex-direction: column;
   align-items: flex-end;
   gap: 15px;
   padding-top: 25px;
}

.card__back-line {
   width: 100%;
   background-color: $dark;
   height: 45px;
}

.card__back-cvv {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 75px;
   margin-right: 20px;
   gap: 5px;

   input {
      max-width: 100%;
      height: 35px;
      width: 100%;
      text-align: center;
      padding-left: 0;
      transition: all 0.2s;

      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
         -webkit-appearance: none;
         margin: 0;
      }

      &:hover,
      :focus {
         filter: drop-shadow(2px 4px 6px $dark);
      }
   }

   span {
      text-align: left;
      color: $dark;
      font-size: 9px;
      max-width: 48px;
   }
}

.purchase-info__btn {
   margin-left: auto;
   background-color: $dark-red;
   padding: 10px 87px;
   color: $white;
   font-size: 20px;
   transition: all 0.2s;

   &:hover {
      background-color: $font-gold;
   }
}

.invalid {
   border-color: red !important;
   border-width: 1px !important;
   border-style: solid !important;
}