// @media screen and (min-width: 421px) {

// }

// @media screen and (min-width: 769px) {

// }

// @media screen and (min-width: 1025px) {

// }

.main {
   padding-top: 90px;
   flex: 1 1 auto;

   @media screen and (min-width: 421px) {
      padding-top: 110px;
   }

   @media screen and (min-width: 769px) {
      padding-top: 130px;
   }

   @media screen and (min-width: 1440px) {
      padding-top: 150px;
   }
}

.welcome {}

.welcome__wrapper {
   display: flex;
   flex-direction: column;

   @media screen and (min-width: 1024px) {
      flex-direction: row;
      justify-content: flex-end;
      position: relative;
   }
}

.welcome__info {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 25px;
   align-items: center;
   color: $white;
   padding-bottom: 50px;
   flex-basis: 45%;

   @media screen and (min-width: 460px) {
      padding-bottom: 50px;
   }

   @media screen and (min-width: 1024px) {
      align-items: flex-start;
      padding-bottom: 0px;
      flex-basis: 41%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      z-index: 1;
   }

      @media screen and (min-width: 1440px) {
         flex-basis: 43%;
      }

   h1 {
      text-align: center;

      @media screen and (min-width: 1024px) {
         text-align: left;
      }
   }

   h3 {
      text-transform: none;
      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      letter-spacing: 2px;

      @media screen and (min-width: 768px) {
         font-size: 20px;
      }

      @media screen and (min-width: 1024px) {
         font-size: 24px;
      }

      @media screen and (min-width: 1440px) {
         font-size: 28px;
      }
   }

}

.welcome__info-btn {
   display: none;
   background-color: $dark-red;
   border-radius: 10px;
   text-align: center;
   font-family: Roboto;
   font-size: 20px;
   font-style: normal;
   font-weight: 300;
   line-height: normal;
   letter-spacing: 2px;
   color: $white;
   cursor: pointer;

   @media screen and (min-width: 1024px) {
      width: fit-content;
      padding: 10px 44px;
      display: flex;
   }

   @media screen and (min-width: 1440px) {
      padding: 25 65px;
      width: fit-content;
      font-size: 22px;
   }
}

.welcome__slider {
   // max-width: 100%;
   flex-basis: 100%;
   overflow: hidden;
   
   @media screen and (min-width: 1024px) {
      flex-basis: 71%;
   }

   @media screen and (min-width: 1440px) {
      flex-basis: 70%;
   }
}

.slider__wrapper {
   // display: flex;
   // flex-direction: column;

   // img {
   //    transition: 0.3s;
   // }

   // img:hover {
   //    filter: drop-shadow();
   //    transform: scale(1.01);
   // }
}

.slider__slick {}

.slider__item--wrapper {
   display: flex;
   align-items: center;
   justify-content: center;
   width: fit-content;
   height: 100%;

   img {
      width: 100%;
      height: 100%;
   }
}





.visiting {}

.visiting__iframe {
   width: 100dvw;
   height: 100dvh;
}

.visiting__wrapper {
   display: flex;
   flex-direction: column;
   padding: 20px 0;

   @media screen and (min-width: 1024px) {
      padding: 40px 0;
   }
}

.visiting__title {
   display: flex;
   border-bottom-color: $dark-red;
   border-bottom-width: 3px;
   border-bottom-style: solid;
   padding: 20px 0;
   color: $font-gold;
}

.visiting__content {
   display: flex;
   flex-direction: column;
   padding: 40px 50px;
   gap: 40px;
   align-items: center;
   justify-content: space-evenly;


   @media screen and (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
   }

   @media screen and (min-width: 1024px) {
      gap: 60px;
      padding: 60px 0px;

   }

   @media screen and (min-width: 1440px) {
      padding: 75px 0;
   }
}

.visiting__item {
   display: flex;
   flex-direction: column;
   max-width: 280px;
   max-height: 300px;
   cursor: pointer;

   @media screen and (min-width: 1024px) {
      max-width: 330px;
      max-height: 345px;
   }

   @media screen and (min-width: 1440px) {
      max-width: 440px;
      max-height: 425px;
   }
}

.visiting__item-img {
   margin-bottom: 25px;

   img {
      max-width: 100%;
      height: auto;
   }
}

.visiting__item-title {
   margin-bottom: 10px;
   color: $dark;
}

.visiting__item-line {
   border-bottom-color: $dark-red;
   border-bottom-width: 2px;
   border-bottom-style: solid;
   width: 150px;
   margin-bottom: 10px;

   @media screen and (min-width: 1024px) {
      width: 75%;
   }

   @media screen and (min-width: 1440px) {
      max-width: 300px;
   }
}


.visiting__item-description {
   display: flex;
   flex-direction: column;
   gap: 10px;
   color: $dark;
   font-family: Roboto;
   font-size: 16px;
   font-style: normal;
   font-weight: 100;
   line-height: normal;

   @media screen and (min-width: 768px) {
      p:first-child {
         font-size: 18px;
      }

      p:last-child {
         font-size: 16px;
      }
   }

   @media screen and (min-width: 1024px) {
      p:first-child {
         font-size: 20px;
      }
   }

   @media screen and (min-width: 1440px) {
      p:first-child {
         font-size: 22px;
      }

      p:last-child {
         font-size: 18px;
      }
   }
}

.explore {}

.explore__wrapper {
   display: flex;
   flex-direction: column;
   gap: 40px;
   padding: 40px 0;

   @media screen and (min-width: 1440px) {
      flex-direction: row;
   }
}

.explore__description {
   flex-basis: 50%;
   display: flex;
   gap: 60px;
   flex-direction: column;

   @media screen and (min-width: 1440px) {
      gap: 75px;

   }
}

.description__title {
   display: flex;
   padding-bottom: 20px;
   border-bottom: 3px solid $dark-red;
}

.description__text {
   display: none;
   color: $white;
   font-family: Roboto;
   font-size: 20px;
   font-style: normal;
   font-weight: 300;
   line-height: 38.5px;

   span {
      color: $font-gold;
   }

   @media screen and (min-width: 1024px) {
      display: flex;
      flex-direction: column;

      p:last-child {
         display: none;
      }
   }

   @media screen and (min-width: 1440px) {
      font-size: 22px;
      gap: 25px;

      p:last-child {
         display: block;
      }
   }
}

.explore__action {
   max-width: 100%;
   flex-basis: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.explore__img {
   max-width: 720px;
   width: 100%;

   @media screen and (min-width: 1440px) {
      // width: 100%;
   }
}

.video {}

.video__wrapper {
   display: flex;
   flex-direction: column;
   padding: 40px 0px;
   gap: 20px;

   @media screen and (min-width: 768px) {
      padding: 60px 0px;
      gap: 40px;
   }
}

.video__title {
   display: flex;
   color: $font-gold;

   @media screen and (min-width: 1440px) {
      justify-content: space-between;
   }

   h4 {
      display: none;

      @media screen and (min-width: 1440px) {
         display: flex;
         max-width: 720px;
         font-family: Roboto;
         font-size: 22px;
         font-style: normal;
         font-weight: 300;
         line-height: 38.5px;
         color: $dark;
      }
   }
}

.video__content {
   display: flex;
   flex-direction: column;
   max-width: 100%;
   justify-content: center;
   align-items: center;
   gap: 40px;
}

.video__item {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;

   position: relative;
   padding-bottom: 56.25%;
   padding-top: 25px;
   height: 0;

   iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
   }
}

.gallery__warpper {
   display: flex;
   flex-direction: column;
   padding-top: 40px;
   gap: 40px;

   @media screen and (min-width: 1024px) {
      padding-top: 60px;
      gap: 60px;
   }

   @media screen and (min-width: 1440px) {
      padding-top: 75px;
      gap: 75px;
   }
}

.gallery__title {}

.gallery__content {
   width: 100%;
   height: auto;
   columns: 2;
   gap: 24px;

   @media screen and (min-width: 769px) {
      gap: 36px;
   }

   @media screen and (min-width: 1024px) {
      columns: 3;
   }
}

.gallery__item {
   display: flex;
   padding-bottom: 24px;

   @media screen and (min-width: 769px) {
      padding-bottom: 36px;
   }

   img {
      height: auto;
      width: 100%;
   }

   &:nth-child(1) {
      padding-top: 50px;
   }

   &:nth-child(11) {
      padding-top: 0px;
   }

   @media screen and (min-width: 1024px) {

      &:nth-child(11) {
         padding-top: 50px;
      }
   }
}


.tickets__wrapper {
   display: flex;
   flex-direction: column;

   h4 {
      text-align: center;
      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;

      @media screen and (min-width: 768px) {
         font-size: 28px;
      }
   }
}

.tickets__title {
   display: flex;
   border-bottom-color: $dark-red;
   border-bottom-width: 3px;
   border-bottom-style: solid;
   padding: 20px 0;
   color: $font-gold;
}

.tickets__content {
   display: flex;
   flex-direction: column;
   width: 100%;
   padding: 40px 0px;
   gap: 40px;
   color: $dark;

   @media screen and (min-width: 768px) {
      flex-direction: row;
      gap: 60px;
      padding-right: 50px;
      justify-content: space-between;
   }

   @media screen and (min-width: 1024px) {
      gap: 80px;
      padding: 60px 0px;
      padding-right: 30px;
   }

   @media screen and (min-width: 1440px) {
      gap: 60px;
      padding: 75px 0px;
   }
}

.tickets__img {
   max-width: 720px;
   width: 100%;


   @media screen and (min-width: 768px) {}

   @media screen and (min-width: 1024px) {}

   @media screen and (min-width: 1440px) {}

   img {
      width: 100%;
   }
}

.tickets__buy {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

   @media screen and (min-width: 1024px) {
      margin: 0 auto;
   }

   @media screen and (min-width: 1440px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      max-width: 620px;
      margin: 0;
   }
}

.tickets__type {
   display: none;
   color: $dark;
   font-family: Roboto;
   font-size: 22px;
   font-style: normal;
   font-weight: 300;
   line-height: normal;

   @media screen and (min-width: 1440px) {
      display: flex;
      flex-direction: column;
      gap: 50px;
   }
}

.tickets__type-title {

   h4 {
      text-align: left;
   }
}

.tickets__type-input {
   display: flex;
   max-width: 270px;
   width: 100%;
   align-items: flex-start;
}

.tickets__type-form {
   display: flex;
   flex-direction: column;
   width: 100%;
   gap: 25px;
}

input {
   appearance: none;

   width: 17px;
   height: 17px;

   margin-right: 25px;

   border-radius: 50%;
   border-color: $dark;
   border-style: solid;
   border-width: 2px;
   transition: 0.2s all linear;

   &:checked {
      border-width: 6px;
   }
}

.type-input__input {
   font-family: Roboto;
   font-size: 22px;
   font-style: normal;
   font-weight: 300;
   line-height: normal;
}

.tickets__amount {
   display: flex;
   flex-direction: column;
}

.tickets__amount-title {
   padding-bottom: 20px;

   @media screen and (min-width: 768px) {
      padding-bottom: 40px;
   }

   h4 {

      @media screen and (min-width: 768px) {
         text-align: left;
      }

      @media screen and (min-width: 1024px) {
         text-align: center;
      }

      @media screen and (min-width: 1440px) {
         text-align: right;
      }
   }
}

.tickets__amount-form {
   display: flex;
   flex-direction: column;
   gap: 15px;
   font-weight: 300;
   font-size: 16px;

   @media screen and (min-width: 768px) {
      font-size: 22px;
   }

   p {
      @media screen and (min-width: 1440px) {
         margin-left: 25px;
      }
   }

}

.tickets__amount-total {
   text-align: center;
   font-family: Roboto;
   font-size: 16px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   padding-top: 20px;
   padding-bottom: 40px;

   @media screen and (min-width: 768px) {
      font-size: 28px;
      padding-bottom: 70px;
   }

   @media screen and (min-width: 1440px) {
      text-align: right;
   }
}

.tickets__amount-btn {
   background-color: $dark;
   color: $white;
   padding: 17px 60px;

   text-align: center;
   font-family: Roboto;
   font-size: 16px;
   font-style: normal;
   font-weight: 300;
   line-height: 0px;
   letter-spacing: 2px;

   @media screen and (min-width: 768px) {
      font-size: 22px;
      line-height: normal;

      padding: 11px 35px;
   }
}

.amount-form__block {
   border-color: $dark;
   border-style: solid;
   border-width: 3px;
   width: 175px;
   height: 50px;

   @media screen and (min-width: 1440px) {
      width: 150px;
      margin-left: 25px;
   }
}

.parallax {
   width: 100%;

}

.parallax__img {
   // height: 300px;
   height: 0;
   padding-top: calc(100% / 4.8);


   background-image: url('../img/content/parallax.jpg');

   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;

   @media screen and (min-width: 1024px) {
      // height: 400px;
      height: 0;
   }
}

.contacts__wrapper {
   display: flex;
   flex-direction: column;
   color: $dark;
}

.contacts__title {
   display: flex;
   border-bottom-color: $dark-red;
   border-bottom-width: 3px;
   border-bottom-style: solid;
   padding: 20px 0;
   color: $font-gold;
}

.contacts__main {
   padding: 40px 0;
   display: flex;
   flex-direction: column;
   gap: 40px;

   font-family: Roboto;
   font-style: normal;
   line-height: normal;

   @media screen and (min-width: 1024px) {
      flex-direction: row;
      justify-content: space-between;
      gap: 16px;
      padding: 60px 0;
   }

   @media screen and (min-width: 1440px) {
      padding: 75px 0;
   }
}

.contacts__main-info {
   display: flex;
   flex-direction: column;
   gap: 40px;

   @media screen and (min-width: 1024px) {
      gap: 35px;
      min-width: 275px;
   }

   @media screen and (min-width: 1440px) {
      gap: 50px;
      max-width: 285px;
   }

}

.contacts__name-museum {
   max-width: 125px;

   font-size: 16px;
   font-weight: 500;

   @media screen and (min-width: 768px) {
      font-size: 20px;
   }

   @media screen and (min-width: 1024px) {
      max-width: 185px;
      font-size: 24px;
   }

   @media screen and (min-width: 1440px) {
      max-width: 230px;
      font-size: 28px;
   }
}

.contacts__address {
   display: flex;
   flex-direction: column;
   gap: 15px;

   font-size: 16px;
   font-weight: 300;

   @media screen and (min-width: 768px) {
      font-size: 18px;
   }

   @media screen and (min-width: 1024px) {
      font-size: 20px;
   }

   @media screen and (min-width: 1440px) {
      font-size: 22px;
      gap: 25px;
   }
}

.contacts__map {
   display: flex;
   width: 100%;
   max-width: 960px;
   align-items: center;
   justify-content: center;

   img {
      max-width: 100%;
      width: 100%;
   }
}

.overlay {
   position: fixed;
   opacity: 0;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   pointer-events: none;
   transition: 0.2s ease-in-out;
   z-index: -100;

   &.overlay--open {
      position: fixed;
      pointer-events: all;
      background-color: #00000099;
      opacity: 1;
      z-index: 4;
   }
}