// @media screen and (min-width: 421px) {

// }

// @media screen and (min-width: 769px) {

// }

// @media screen and (min-width: 1025px) {

// }

.main {
   padding-top: 90px;
   flex: 1 1 auto;

   @media screen and (min-width: 421px) {
      padding-top: 110px;
   }

   @media screen and (min-width: 769px) {
      padding-top: 130px;
   }

   @media screen and (min-width: 1025px) {
      padding-top: 150px;
   }
}

.welcome {}

.welcome__wrapper {
   display: flex;
   flex-direction: column;

   @media screen and (min-width: 1024px) {
      flex-direction: row;
      justify-content: space-between;
   }
}

.welcome__info {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 25px;
   align-items: center;
   color: $white;
   padding-bottom: 50px;

   @media screen and (min-width: 460px) {
      padding-bottom: 50px;
   }

   @media screen and (min-width: 1024px) {
      align-items: flex-start;
      padding-bottom: 0px;
   }

   h1 {
      text-align: center;

      @media screen and (min-width: 1024px) {
         text-align: left;
      }
   }

   h3 {
      text-transform: none;
      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      letter-spacing: 2px;

      @media screen and (min-width: 768px) {
         font-size: 20px;
      }

      @media screen and (min-width: 1024px) {
         font-size: 24px;
      }

      @media screen and (min-width: 1440px) {
         font-size: 28px;
      }
   }

}

.welcome__info-btn {
   display: none;
   background-color: $dark-red;
   border-radius: 10px;
   text-align: center;
   font-family: Roboto;
   font-size: 20px;
   font-style: normal;
   font-weight: 300;
   line-height: normal;
   letter-spacing: 2px;
   color: $white;
   cursor: pointer;

   @media screen and (min-width: 1024px) {
      display: flex;
      max-width: 300px;
      padding: 10 43px;
   }

   @media screen and (min-width: 1440px) {
      padding: 25 65px;
      max-width: 360px;
      font-size: 22px;
   }
}

.welcome__slider {
   max-width: 100%;
   overflow: hidden;
}

.slider__wrapper {
   display: flex;
   flex-direction: column;

   img {
      transition: 0.3s;
   }

   img:hover {
      filter: drop-shadow();
      transform: scale(1.01);
   }
}


.slider__img-small {
   display: block;

   @media screen and (min-width: 1024px) {
      display: none;
   }
}

.slider__img-large {
   display: none;

   @media screen and (min-width: 1024px) {
      display: block;
      max-width: 100%;
      height: auto;

   }
}

.slider__btn-nav {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 80px;
}

.visiting {}

.visiting__wrapper {
   display: flex;
   flex-direction: column;
   padding: 20px 0;

   @media screen and (min-width: 1024px) {
      padding: 40px 0;
   }
}

.visiting__title {
   display: flex;
   border-bottom-color: $dark-red;
   border-bottom-width: 3px;
   border-bottom-style: solid;
   padding: 20px 0;
   color: $font-gold;
}

.visiting__content {
   display: flex;
   flex-direction: column;
   padding: 40px 50px;
   gap: 40px;
   align-items: center;
   justify-content: space-evenly;


   @media screen and (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
   }

   @media screen and (min-width: 1024px) {
      gap: 60px;
      padding: 40px 0px;

   }

   @media screen and (min-width: 1440px) {
      gap: 40px;

   }

   @media screen and (min-width: 1440px) {
      justify-content: space-between;
   }
}

.visiting__item {
   display: flex;
   flex-direction: column;
   max-width: 280px;
   max-height: 300px;
   cursor: pointer;

   @media screen and (min-width: 1024px) {
      max-width: 330px;
      max-height: 345px;
   }

   @media screen and (min-width: 1440px) {
      max-width: 440px;
      max-height: 425px;
   }
}

.visiting__item-img {
   margin-bottom: 25px;

   img {
      max-width: 100%;
      height: auto;
   }
}

.visiting__item-title {
   margin-bottom: 10px;
   color: $dark;
}

.visiting__item-line {
   border-bottom-color: $dark-red;
   border-bottom-width: 2px;
   border-bottom-style: solid;
   width: 150px;
   margin-bottom: 10px;

   @media screen and (min-width: 1024px) {
      width: 75%;
   }

   @media screen and (min-width: 1440px) {
      max-width: 300px;
   }
}


.visiting__item-description {
   display: flex;
   flex-direction: column;
   gap: 10px;
   color: $dark;
   font-family: Roboto;
   font-size: 16px;
   font-style: normal;
   font-weight: 100;
   line-height: normal;

   @media screen and (min-width: 768px) {
      p:first-child {
         font-size: 18px;
      }

      p:last-child {
         font-size: 16px;
      }
   }

   @media screen and (min-width: 1024px) {
      p:first-child {
         font-size: 20px;
      }
   }

   @media screen and (min-width: 1440px) {
      p:first-child {
         font-size: 22px;
      }

      p:last-child {
         font-size: 18px;
      }
   }
}

.explore {}

.explore__wrapper {
   display: flex;
   flex-direction: column;
   gap: 40px;
   padding: 40px 0;

   @media screen and (min-width: 1440px) {
      flex-direction: row;
   }
}

.explore__description {
   display: flex;
   gap: 60px;
   flex-direction: column;

   @media screen and (min-width: 1440px) {
      gap: 75px;
   }
}

.description__title {
   display: flex;
   padding-bottom: 20px;
   border-bottom: 3px solid #710707;
}

.description__text {
   display: none;
   color: $white;
   font-family: Roboto;
   font-size: 20px;
   font-style: normal;
   font-weight: 300;
   line-height: 38.5px;

   span {
      color: $font-gold;
   }

   @media screen and (min-width: 1024px) {
      display: flex;
      flex-direction: column;

      p:last-child {
         display: none;
      }
   }

   @media screen and (min-width: 1440px) {
      font-size: 22px;
      gap: 25px;

      p:last-child {
         display: block;
      }
   }
}

.explore__action {
   max-width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.explore__img {
   max-width: 720px;
   width: 100%;

   @media screen and (min-width: 1440px) {
      width: auto;
   }
}

.video {}

.video__wrapper {
   display: flex;
   flex-direction: column;
   padding: 40px 0px;
   gap: 20px;

   @media screen and (min-width: 768px) {
      padding: 60px 0px;
      gap: 40px;
   }
}

.video__title {
   color: $font-gold;
}

.video__content {}

.video__item {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   iframe {
      width: 100%;
      max-width: 560px;
      height: calc(560px / 1.77);
   }
}

.gallery__warpper {
   display: flex;
   flex-direction: column;
   padding-top: 40px;
   gap: 40px;

   @media screen and (min-width: 1024px) {
      padding-top: 60px;
      gap: 60px;
   }

   @media screen and (min-width: 1440px) {
      padding-top: 75px;
      gap: 75px;
   }
}

.gallery__title {}

.gallery__content {
   overflow: hidden;
   padding-bottom: 20px;
}

.gallery__content-grid {
   max-height: 600px;
   overflow: auto;
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 10px;

   @media screen and (min-width: 1024px) {
      grid-template-columns: 1fr 1fr 1fr;
   }
}

.gallery__item {
   // max-width: 100%;

   img {
      width: 100%;
   }
}